/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--text-primary-color);
}

hr {
  border-color: var(--primary-color);
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: var(--primary-color);
}

/* h2 {
  margin-top: 6rem;
} */

h2.h-2 {
  margin-top: 0;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #eee;
  padding: 0.5rem;
  display: block;
}

section {
  padding: 1rem;
}

input {
  max-width: 300px;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.text-link {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.text-link:hover,
.text-link:focus {
  /* color: red; */
  text-decoration: underline;
}

/* Styling for the navigation button */
.btn-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.btn-nav:hover,
.btn-nav:focus {
  background-color: rgb(200, 200, 200);
}

.img-link {
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.nav-brand.img-link {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.img-link > img {
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.img-link:hover > img,
.img-link:focus > img {
  opacity: 0.6;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem 0;
  width: 100%;
}

.input label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-style: normal;
}

.input input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.input .support {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-primary-text-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--btn-secondary-text-color);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* 
  TEXT ELEMENTS -------------------
*/
.h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  font-style: normal;
}

ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.list li:last-child {
  margin-bottom: 0;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.nav {
  display: flex;
  gap: 1rem;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
}

.nav-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.nav-brand {
  height: 100%;
  margin-right: 1rem;
}

.nav-brand img {
  height: 100%;
}

.row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.row > input {
  flex: 1;
}

.payment input,
.checkout input {
  max-width: 100%;
}

.payment,
.checkout {
  max-width: 500px;
}

.btns-right {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: end;
}

.product {
  max-width: 400px;
}

.card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#banner-placeholder {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-placeholder.small {
  height: 200px;
}

#page-content {
  padding-top: 80px;
  min-height: calc(100vh - 51px);
}

.items {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.card .p {
  padding: 0;
  margin: 0;
}

.pricing {
  margin-left: auto;
  font-size: 0.9rem;
  font-weight: 500;
}

.section {
  padding: 2rem;
}

.divider {
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  margin: 0 1rem;
}

.footer {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.checkout .description {
  display: flex;
  gap: 1rem;
}

.checkout-row .checkout {
  flex: 1;
  max-width: 400px;
}

.checkout-row .payment {
  max-width: 100%;
}

#payments-container {
  flex: 1;
}

.checkout .description img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.checkout-row {
  display: flex;
  gap: 10%;
  padding: 0 2rem;
}

.color {
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.color .h4 {
  font-size: 0.8rem;
}

.color .h5 {
  font-size: 0.7rem;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
}

.text-primary {
  background-color: var(--text-primary-color);
  color: white;
}

.text-secondary {
  background-color: var(--text-secondary-color);
  color: white;
}

#images img {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
}

#icons .row {
  padding-top: 1rem;
}

#icons .icon h4 {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .row, .items, .footer, .footer-section {
    flex-direction: column;
  }

  .row {
    gap: .3rem
  }

  .footer, .footer-section {
    align-items: center;
  }

  .search {
    display: none;
  }

  .checkout-row {
    flex-direction: column;
  }

  .checkout-row .row {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .nav-buttons {
    display: none;
  }

  .checkout-row .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .nav-section .text-link {
    display: none;
  }
}